@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
	margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*MOBILE VERSIE*/
@media screen and (min-width: 368px) and (max-width:768px){
    body{
        display: block;
        width: 100vw;
        margin: 0;
        height: auto;
        overflow-x: hidden;
    }
    #ham-logo{
        position: relative;
        right: 36vw;
        top: 2vh;
        max-height: 10vh;
        min-height: auto;
        display: flex;
        height: 12vh;
    }

    .item-logo{display: none;}

    #item-nav{
        
        display: block;
    }

    #menu-beschrijving img{display: none;}


    /*HAMBURGER MENU*/

    #item-burger{
        height: 16vh;
        background-color: black;
    }
 
    
    #item-streep details{
        position: absolute;
        right: 15vw;
        top: 1vh;
    }
    
    
    #item-streep summary{
        list-style: none;
        cursor: pointer;
    }
    
    #item-streep h1{
        font-size: 2.3rem;
        position: absolute;
        right: -12vw;
        top: 2vh;
        transition: 2s;
        color: red;
    }
    
    #item-streep h1:hover{
        color: white;
    }

    
    
    #item-nav ul{list-style: none;position: relative;top:10vh;right: -13vw;}
    #item-nav li{float:right;padding: 1vw 1vh;}
    #item-nav a:hover{color: white!important;transition: 1s;}
    #item-nav a{text-decoration: none; font-size:0.9rem;padding: 1.2vw;}
    #item-nav a:active, a:visited, a:link{color: red!important;}
    
    #topbar{display: none;}

    /*KNOPJE voor de gerechten*/


    #bestek{
        position: fixed;
        bottom: 2vh;
        right: 2vw;
        background-color: #B5B148;
        padding: 2vw;
        border-radius: 50%;
    }

    
    
    
    #small-menu summary{
        list-style: none;
        cursor: pointer;
    }
    

    
    
    #small-menu-content ul{list-style: none;position: fixed;right: 15vw;bottom: 4vh;border: 3px solid black;border-radius: 15%;background-color: black;}
    #small-menu-content li{padding: 3vw 1vh;}
    #small-menu-content a:hover{color: gray!important;transition: 1s;}
    #small-menu-content a{text-decoration: none; font-size:0.9rem;padding: 1.5vw;font-family: Arial, Helvetica, sans-serif;}
    #small-menu-content a:active, a:visited, a:link{color: #323234;}

        /*CONTENT IN BANNER*/

        #banner{
            background-color: #B5B148;
            height: 30vh;
        }
    
        #menu-beschrijving p{
            position: relative;
            top: 7vh;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 1rem;
            padding: 4vw;
        }

            /*KOPJES*/
    .Gerechten-soorten{
        background-color: #B5B148;
        color: white;
        padding: 1vw;
        font-size: 0.8em;
        font-family: 'Merriweather', serif;
    
    }

        /*GERECHTEN TABEL*/

        .gerechten td{display: block;}

    
        .row {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            padding: 3vw;
        
          }
          
        .column img {
            height: 28vh;
            width: auto;
            max-width: 100%;
            padding: 1vw;
          }

          #vega{height: 32vh;}
          #peking{height: 32vh;}
          #siu{height: 29vh;}
          #koeloek{height: 33vh;}
          #tjap{height: 38vh;}
          #foeyong{height: 34vh;}
          #bolo{height: 33.5vh;}
          #cake{height: 32vh;}
    
          
    
        
    
        .gerecht-kop{
              text-align: left;
              font-size: 0.8em;
              margin-left: 1vw;
              font-family: 'Calistoga', cursive;
    
          }
    
    
        .tekst-gerecht{
              text-align: left; 
              font-family: 'Crimson Text', serif; 
              font-size: 0.8rem;
              padding: 1vw;       
          }
        
    
    
        /*GERECHTEN TABEL*/

            /*FOOTER*/

    #voet{
        background-color: black;
        padding: 1vw;
    }

    #voet h1{
        text-align: center;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
    }

    #voet h1 a{
      text-decoration: none;
      transition: 0.5s;
    }

    #voet h1 a:visited, a:link, a:active{
        color: red;
    }

    #voet h1 a:hover{
        color: white;
    }

}

/*TABLET VERSIE*/
@media screen and (min-width: 768px) and (max-width:1200px){
    body
    {
        width: 100vw;
        margin: 0;
        height: auto;
        overflow-x: hidden;

}
    #ham-logo{
        position: relative;
        right: 38vw;
        top: 2vh;
        max-height: 12vh;
        min-height: auto;
        display: flex;
        height: 12vh;
    }

    #small-menu{display: none;}

    .item-logo{display: none;}

    #item-nav{
        
        overflow: hidden;
        padding: 2vw;
    }

    #menu-beschrijving img{display: none;}


    /*HAMBURGER MENU*/

    #item-burger{
        height: 16vh;
        background-color: black;
    }
 
    
    #item-streep details{
        position: absolute;
        right: 15vw;
        top: 2vh;
    }
    
    
    #item-streep summary{
        list-style: none;
        cursor: pointer;
    }
    
    #item-streep h1{
        font-size: 2.5rem;
        position: absolute;
        right: -12vw;
        top: 2vh;
        transition: 2s;
        color: red;
    }
    
    #item-streep h1:hover{
        color: white;
    }

  
    
    
    #item-nav ul{list-style: none;position: relative;top:1vh;right: -5vw;}
    #item-nav li{float:right;padding: 1vw 1vh;}
    #item-nav a:hover{color: white;transition: 1s;}
    #item-nav a{text-decoration: none; font-size:1.0rem;padding: 2vw;}
    #item-nav a:active, a:visited, a:link{color: red;}
    
    #topbar{display: none;}
    

    /*CONTENT IN BANNER*/

    #banner{
        background-color: #B5B148;
        height: 40vh;
    }

    #menu-beschrijving p{
        position: relative;
        top: 10vh;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 1.3rem;
        
    }

    #menu-beschrijving img{
        height: 45vh;
        position: relative;
        right: -60vw;
        top: -2vh;
        margin-left: 1vw;
    }

    /*KOPJES*/
    .Gerechten-soorten{
        background-color: #B5B148;
        color: white;
        padding: 0.4vw;
        font-size: 1em;
        font-family: 'Merriweather', serif;
    
    }

    /*GERECHTEN TABEL*/

    .gerechten td {
        vertical-align: top;
    }

    .row {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 3vw;
    
      }
      
    .column img {
        height: 28vh;
        width: auto;
        max-width: 100%;
        padding: 1vw;
      }

      

    

    .gerecht-kop{
          text-align: left;
          font-size: 0.8em;
          margin-left: 1vw;
          font-family: 'Calistoga', cursive;

      }


    .tekst-gerecht{
          text-align: left; 
          font-family: 'Crimson Text', serif; 
          font-size: 0.8rem;
          padding: 1vw;       
      }
    


    /*GERECHTEN TABEL*/

    /*FOOTER*/

      #voet{
          background-color: black;
          padding: 1vw;
      }

      #voet h1{
          text-align: center;
          font-size: 3em;
          font-family: Arial, Helvetica, sans-serif;
      }

      #voet h1 a{
        text-decoration: none;
        transition: 0.5s;
      }

      #voet h1 a:visited, a:link, a:active{
          color: red;
      }

      #voet h1 a:hover{
          color: white;
      }

    

}
    





/*DESKTOP VERSIE*/
@media screen and (min-width: 1200px){
    body{
        width: 100vw;
        margin: 0;
        height: auto;
        overflow-x: hidden;

    }

    #item-burger{display: none;}

    #page-container {
        position: relative;
        min-height: 100vh;
      }

      #small-menu{display: none;}


    .item-logo{
        position: absolute;
        left: 5vw;
        top: 0.7vh;
        max-width: 90vw;
        min-height: auto;
        display: flex;
        height: 13vh;
    }

    #topbar{
        background-color:black;
        overflow: hidden;
        padding: 3vw;
    }
    
    
    .lijst-systeem{
        list-style: none;
    }
    
    
    #topbar li{
        float: right;
        padding-left: 1vw;
    }
    
    #topbar li a{
        padding: 1vw 3vh;
    }
    
    #topbar a{
        text-decoration: none;
        font-size: 1.3rem;
        transition: 0.5s;
    }
    
    #topbar a:link, a:visited, a:active{color:red;}
    #topbar a:hover{color: white; background: #404142;}
    

    /*CONTENT IN BANNER*/

    #banner{
        background-color: #B5B148;
        height: 40vh;
    }

    #menu-beschrijving p{
        position: absolute;
        left: 10vw;
        top: 27vh;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 1.3rem;
        
    }

    #menu-beschrijving img{
        height: 45vh;
        position: relative;
        right: -60vw;
        top: -2vh;
        margin-left: 1vw;
    }

    /*KOPJES*/
    .Gerechten-soorten{
        background-color: #B5B148;
        color: white;
        padding: 0.3vw;
        font-family: 'Merriweather', serif;
    
    }

    /*GERECHTEN*/

    .gerechten td {
        vertical-align: top;
    }

    .row {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 3vw;
      }

      
    .column img {
        max-width: 100%;
        padding: 1vw;

      }

    .gerecht-kop{
          text-align: left;
          margin-left: 1vw;

      }

      .tekst-gerecht{
          position: relative;
          left: 1vw;
          text-align: left;
          font-size: 0.9rem;
          font-family: 'Crimson Text', serif;
          
          
      }

      #voet{
          background-color: black;
          padding: 1vw;
      }

      #voet h1{
          text-align: center;
          font-size: 3em;
          font-family: Arial, Helvetica, sans-serif;
      }

      #voet h1 a{
        text-decoration: none;
        transition: 0.5s;
      }

      #voet h1 a:visited, a:link, a:active{
          color: red;
      }

      #voet h1 a:hover{
          color: white;
      }

  

    


}
